
.menu a {
    text-decoration: none;
    color: black;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.left-menu {
    padding-top: 2px;
    width: 250px;
    font-size: 26px;
    white-space: nowrap;
}
.center-menu a {
    margin-right: 35px; 
    white-space: nowrap;
}
.center-menu {
    margin-left: 30px;
    padding-top: 6px;
    display: flex;
    align-items: center;
    width: 500px;
}

.right-menu {
    margin-right: 20px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.resume{
    border: 2px solid white;
    padding: 5px 12px;
    margin-left: 30px;
}
.sub-menu {
    display: flex;
}
.logo-img{
    height: 28px;
    width: auto;
    border: 2px solid white;
    border-radius: 40px;
}
.logo-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
